In [13]:
import numpy as np
import pandas as pd

#First using pandas we load the CSV file
df = pd.read_csv('supermarket_sales.csv')

#We have to validate how much cities does the Dataframe has, this is for validate and see how much of them we have to write
dfCityTotal = df.groupby('City')[['Total']].mean().round(2).reset_index()

#After checked the cities the DF has, we just choose the values we will be taking action as saw it the Total
data = df[['City','Total']].to_numpy()

#We select the cities that the Array has choosing the unique ones just the uniques cities are in the Array.
cities = np.unique(data[:,0])

#Using a for cicle we iterate in the cities, going city by city that is in the new cities Array
for city in cities:
    
    #Using a mark for checking each City with the Array position 0 of the cities, making a boolean por the position and extracting the position
    position = data[:,0] == city
    
    #Extrating means of the unit price and the quantity
    meanTotal = np.mean(data[position,1].astype(float))

    #Using the cicle for print for each City means
    print(f"{city}: Total mean Ticket: {meanTotal:.2f}")

Mandalay: Total mean Ticket: 319.87
Naypyitaw: Total mean Ticket: 337.10
Yangon: Total mean Ticket: 312.35

In [12]:
dfCityTotal

        City       Total
0   Mandalay  319.872506
1  Naypyitaw  337.099715
2     Yangon  312.354031