In [3]:
import numpy as np
import pandas as pd

#First using pandas we load the CSV file
df = pd.read_csv('supermarket_sales.csv')

#We have to validate how much cities does the Dataframe has, this is for validate and see how much of them we have to write
dftotal = df.groupby(['City','Product line'])[['Total']].mean().round(2).reset_index()

#After cehcking the cities the DF has, we just choose the values we will be taking action as saw it the Total
data = df[['City','Product line','Total']].to_numpy()

#We select the cities that the Array has choosing the unique ones just the uniques cities are in the Array.
cities = np.unique(data[:,0])

#We select the Product Line that the Array has choosing the unique ones just the uniques Products Line are in the Array.
productLines = np.unique(data[:,1])

#Using nested cicle we iterate in each city and even in each product Lines that exist, validating and getting the position that is accord the validation
for city in cities:
    for productL in productLines:
        position = (data[:,0] == city) & (data[:,1] == productL)

        #Saving this in a new array with the passed validations, getting the mean of the Quantity and Unit Price. Even printing it.
        subset = data[position]
        meanTotal = np.mean(subset[:,2].astype(float))
        
        print(f"{city} - {productL}: Total Mean: {meanTotal:.2f}")

Mandalay - Electronic accessories: Total Mean: 310.03
Mandalay - Fashion accessories: Total Mean: 264.73
Mandalay - Food and beverages: Total Mean: 304.30
Mandalay - Health and beauty: Total Mean: 376.99
Mandalay - Home and lifestyle: Total Mean: 350.98
Mandalay - Sports and travel: Total Mean: 322.39
Naypyitaw - Electronic accessories: Total Mean: 344.89
Naypyitaw - Fashion accessories: Total Mean: 331.69
Naypyitaw - Food and beverages: Total Mean: 360.10
Naypyitaw - Health and beauty: Total Mean: 319.53
Naypyitaw - Home and lifestyle: Total Mean: 308.79
Naypyitaw - Sports and travel: Total Mean: 350.27
Yangon - Electronic accessories: Total Mean: 305.29
Yangon - Fashion accessories: Total Mean: 320.25
Yangon - Food and beverages: Total Mean: 295.92
Yangon - Health and beauty: Total Mean: 268.04
Yangon - Home and lifestyle: Total Mean: 344.88
Yangon - Sports and travel: Total Mean: 328.35

In [2]:
dftotal

         City            Product line   Total
0    Mandalay  Electronic accessories  310.03
1    Mandalay     Fashion accessories  264.73
2    Mandalay      Food and beverages  304.30
3    Mandalay       Health and beauty  376.99
4    Mandalay      Home and lifestyle  350.98
5    Mandalay       Sports and travel  322.39
6   Naypyitaw  Electronic accessories  344.89
7   Naypyitaw     Fashion accessories  331.69
8   Naypyitaw      Food and beverages  360.10
9   Naypyitaw       Health and beauty  319.53
10  Naypyitaw      Home and lifestyle  308.79
11  Naypyitaw       Sports and travel  350.27
12     Yangon  Electronic accessories  305.29
13     Yangon     Fashion accessories  320.25
14     Yangon      Food and beverages  295.92
15     Yangon       Health and beauty  268.04
16     Yangon      Home and lifestyle  344.88
17     Yangon       Sports and travel  328.35