In [6]:
import numpy as np
import pandas as pd

#First using pandas we load the CSV file
df = pd.read_csv('supermarket_sales.csv')

#We have to validate how much Genders does the Dataframe has, this is for validate and see how much of them we have to write
dfGenderTotal = df.groupby('Gender')[['Total']].mean().reset_index()

#After checked the Genders the DF has, we just choose the values we will be taking action as we talked Unit Price, Quantity and the City
data = df[['Gender','Total']].to_numpy()

#We select the Genders that the Array has choosing the unique ones just the uniques cities are in the Array.
genders = np.unique(data[:,0])

#Using a for cicle we iterate in the Genders, going Gender by Gender that is in the new Gender Array
for gender in genders:
    
    #Using a mark for checking each gender with the Array position 0 of the genders, making a boolean por the position and extracting the position
    position = data[:,0] == gender
    
    #Extrating means of the Total
    meanGender = np.mean(data[position,1].astype(float))
    
    #Using the cicle for print for each Gender means
    print(f"{gender}: Total Mean: {meanGender:.2f}")

Female: Total Mean: 335.10
Male: Total Mean: 310.79

In [4]:
dfGenderTotal

   Gender       Total
0  Female  335.095659
1    Male  310.789226