In [5]:
import numpy as np
import pandas as pd

#First using pandas we load the CSV file
df = pd.read_csv('supermarket_sales.csv')

#Using pandas we validate the top 5 sales for each member ordering by the quantity
top5Member = df.sort_values(by=['Customer type','Total'], ascending =[True, False]).groupby('Customer type').head(5)

#Obtaning the member and total for each one into Array from the pandas
data = df[['Customer type', 'Total']].to_numpy()

#We checked the unique members that are in the Array, selection the 0 position because member is stored in that position
members = np.unique(data[:, 0])

#Using a cicle for the number of members
for member in members:
    
    #Using a validation we checked the member in the array, thos should be in the main array getting the data wich is in member from all the Array
    position = data[:, 0] == member

    #using a mask we stract the data but related to the member that is iterating the cicle
    subset = data[position]

    #In a new Array we storage all the data from the position 1 that is the total getting all the totals into a new Array
    quantities = subset[:, 1].astype(float)

    #We passed from the  quantities in this case total sorting from Higher to Lowe and just getting the firts 5 because are the top 5 in Total higher
    idTop = np.argsort(quantities)[::-1][:5] 

    #Just select the top 5 from the subset that just contains the member we are iterating.
    topRows = subset[idTop]

    #Print on screen data related to the member
    print(f"\nCustomer Type: {member}")
    print(topRows)

Customer Type: Member
[['Member' 1042.65]
 ['Member' 1034.46]
 ['Member' 1020.705]
 ['Member' 951.825]
 ['Member' 950.25]]

Customer Type: Normal
[['Normal' 1039.29]
 ['Normal' 1023.75]
 ['Normal' 1022.49]
 ['Normal' 1022.385]
 ['Normal' 1003.59]]

In [4]:
top5Member

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.650,1042.650,2/15/2019,14:53,Credit card,993.0,4.761905,49.650,6.6
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.260,1034.460,1/30/2019,20:23,Ewallet,985.2,4.761905,49.260,4.5
422,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10,48.605,1020.705,2/8/2019,13:00,Credit card,972.1,4.761905,48.605,8.7
429,325-77-6186,A,Yangon,Member,Female,Home and lifestyle,90.65,10,45.325,951.825,3/8/2019,10:53,Ewallet,906.5,4.761905,45.325,7.3
141,280-17-4359,C,Naypyitaw,Member,Male,Health and beauty,90.50,10,45.250,950.250,1/25/2019,13:48,Cash,905.0,4.761905,45.250,8.1
167,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.490,1039.290,2/8/2019,16:20,Credit card,989.8,4.761905,49.490,8.7
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10,48.750,1023.750,1/12/2019,16:18,Ewallet,975.0,4.761905,48.750,8.0
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.690,1022.490,3/2/2019,17:16,Ewallet,973.8,4.761905,48.690,4.4
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10,48.685,1022.385,1/15/2019,13:48,Credit card,973.7,4.761905,48.685,4.9
166,234-65-2137,C,Naypyitaw,Normal,Male,Home and lifestyle,95.58,10,47.790,1003.590,1/16/2019,13:32,Cash,955.8,4.761905,47.790,4.8