In [12]:
import numpy as np
import pandas as pd

#First using pandas we load the CSV file
df = pd.read_csv('supermarket_sales.csv')

#Using pandas we validate the top 5 sales for each city ordering by the quantity
top5City = df.sort_values(by=['City','Total'], ascending =[True, False]).groupby('City').head(5)

#Obtaning the cities and total for each one into Array from the pandas
data = df[['City', 'Total']].to_numpy()

#We checked the unique Cities that are in the Array, selection the 0 position because city is stored in that position
cities = np.unique(data[:, 0])

#Using a cicle for the number of cities
for city in cities:
    
    #Using a validation we checked the city in the array, thos should be in the main array getting the data wich is in city from all the Array
    position = data[:, 0] == city

    #using a mask we stract the data but related to the city that is iterating the cicle
    subset = data[position]

    #In a new Array we storage all the data from the position 1 that is the total getting all the totals into a new Array
    quantities = subset[:, 1].astype(float)

    #We passed from the  quantities in this case total sorting from Higher to Lowe and just getting the firts 5 because are the top 5 in Total higher
    idTop = np.argsort(quantities)[::-1][:5] 

    #Just select the top 5 from the subset that just contains the city we are iterating.
    topRows = subset[idTop]

    #Print on screen data related to the city
    print(f"\nCiudad: {city}")
    print(topRows)

Ciudad: Mandalay
[['Mandalay' 1022.49]
 ['Mandalay' 1022.385]
 ['Mandalay' 944.622]
 ['Mandalay' 942.4485]
 ['Mandalay' 922.635]]

Ciudad: Naypyitaw
[['Naypyitaw' 1042.65]
 ['Naypyitaw' 1034.46]
 ['Naypyitaw' 1023.75]
 ['Naypyitaw' 1020.705]
 ['Naypyitaw' 1003.59]]

Ciudad: Yangon
[['Yangon' 1039.29]
 ['Yangon' 951.825]
 ['Yangon' 932.337]
 ['Yangon' 931.035]
 ['Yangon' 926.9505]]

In [11]:
top5City

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
792,744-16-7898,B,Mandalay,Normal,Female,Home and lifestyle,97.37,10,48.6850,1022.3850,1/15/2019,13:48,Credit card,973.70,4.761905,48.6850,4.9
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.9820,944.6220,3/9/2019,17:26,Credit card,899.64,4.761905,44.9820,4.2
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,3/2/2019,19:42,Credit card,897.57,4.761905,44.8785,6.5
96,766-85-7061,B,Mandalay,Normal,Male,Health and beauty,87.87,10,43.9350,922.6350,3/29/2019,10:25,Ewallet,878.70,4.761905,43.9350,5.1
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.6500,1042.6500,2/15/2019,14:53,Credit card,993.00,4.761905,49.6500,6.6
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.2600,1034.4600,1/30/2019,20:23,Ewallet,985.20,4.761905,49.2600,4.5
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10,48.7500,1023.7500,1/12/2019,16:18,Ewallet,975.00,4.761905,48.7500,8.0
422,271-88-8734,C,Naypyitaw,Member,Female,Fashion accessories,97.21,10,48.6050,1020.7050,2/8/2019,13:00,Credit card,972.10,4.761905,48.6050,8.7
166,234-65-2137,C,Naypyitaw,Normal,Male,Home and lifestyle,95.58,10,47.7900,1003.5900,1/16/2019,13:32,Cash,955.80,4.761905,47.7900,4.8
167,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.4900,1039.2900,2/8/2019,16:20,Credit card,989.80,4.761905,49.4900,8.7
429,325-77-6186,A,Yangon,Member,Female,Home and lifestyle,90.65,10,45.3250,951.8250,3/8/2019,10:53,Ewallet,906.50,4.761905,45.3250,7.3
959,384-59-6655,A,Yangon,Member,Female,Food and beverages,98.66,9,44.3970,932.3370,2/19/2019,15:07,Cash,887.94,4.761905,44.3970,8.4
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.3350,931.0350,1/12/2019,14:50,Ewallet,886.70,4.761905,44.3350,7.3
529,827-77-7633,A,Yangon,Normal,Male,Sports and travel,98.09,9,44.1405,926.9505,2/17/2019,19:41,Cash,882.81,4.761905,44.1405,9.3